.carousel__item {
    align-items: center;
    padding-top: 15px;
    place-items: center;
    margin: 40px auto;
    display: block;
}

/*
Buttons
 */
.button_carousel-like {
    background-color: #f2eee3;
    color: black;
    border: 1px solid black;
    margin: 1px;
    margin-right: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button_carousel-dislike {
    background-color: #f2eee3;
    color: black;
    border: 1px solid black;
    margin: 1px;
    margin-left: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}


.button_carousel-like:hover {
    background-color: #c9c1ad;
    color: #111;
}

.button_carousel-dislike:hover {
    background-color: #c9c1ad;
    color: #111;
}

