.carousel__item {
    align-items: center;
    padding-top: 15px;
    place-items: center;
    margin: 40px auto;
    display: block;
}

/*
Buttons
 */
.button_carousel-like {
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    margin-left: 7px;
    transition-duration: 0.4s;
}

.button_carousel-dislike {
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    margin-right: 7px;
    font-size: 1rem;
    padding: 0 1.3em;
    transition-duration: 0.1s;
}


.button_carousel-like:hover {
    background-color: #58c239;
    color: #111;
}

.button_carousel-dislike:hover {
    background-color: #f83037;
    color: #111;
}

/*
placement main-item :: ==> profile dans discover
 */
.main-item {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
