.carousel {
    align-items: center;
    padding-top: 15px;
    place-items: center;
    margin:0px auto;
}

/*
Buttons
 */
.button_carousel-like {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button_carousel-dislike {
    background-color: white;
    color: black;
    border: 2px solid #700f0f; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}


.button_carousel-like:hover {
    background-color: #c72ccc;
    color: #111;
}

.button_carousel-dislike:hover {
    background-color: #362338;
    color: #111;
}

