.body {
    align-items: center;
}

@font-face {
    font-family: "font-1";
    src: url(../asset/font/Bacode\ PERSONAL\ USE\ ONLY!.ttf);
}

h1-font{
    font-family: "font-1";
    color: sienna;
}

*{
    font-family: "font-1";
    color: sienna;
}