@font-face {
    font-family: "font-1";
    src: url(../asset/font/Bacode\ PERSONAL\ USE\ ONLY!.ttf);
}

.body{
    background-color: #f2eee3;
}
.h-font{
    font-family: "font-1";
    color: sienna;
}
