.nav {
    margin: 0;
    padding: 0;
}


/* NAV BAR */
.Nav__bar_ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    position: fixed;
    top: 0;
    width: 100%;
}

.Nav__bar_li {
    float: left;
}

.Nav__bar_li a {
    display: block;
    /*color: white;*/
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
.button_navbar {
    /*background-color: #332a2a;*/
    color: black;
    /*border: 2px solid #c72ccc;*/
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button_navbar:hover {
    background-color: #c72ccc;
    color: #111;
}

.Nav__bar_li a:hover {
    /*background-color: #111;*/
}

/* Scroll-bar */
body::-webkit-scrollbar{
    display: none;
}